h2 {
  border-bottom: 1px solid aliceblue;
  padding-bottom: 10px;
}

form {
  background: #474747;
  border: 1px solid aliceblue;
  margin: 0 50px 25px;
  padding: 10px 25px 25px;
  text-align: center;
  transform: scale(1);
  transition: 0.3s transform;
}

form:hover {
  transform: scale(1.2);
}

button {
  background: rgba(180, 173, 173, 0.5);
  border: 1px solid transparent;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: border-color 0.15s;
}

button:hover {
  /* border-color: #474747; */
  border-color: #25b143;
}

button[disabled] {
  opacity: 0.5;
}
